<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>


        <!--========== CSS ==========-->
        <link rel="stylesheet" href="assets/css/styles.css">


        <title>MeddiBuddy</title>
    </head>
    <body>


        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>


        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="index.html" class="nav__logo">MediBuddy</a>


                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="index.html" class="nav__link">Home</a></li>
                        <li class="nav__item"><a href="index.html#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="index.html#menu" class="nav__link">Services</a></li>
                        <li class="nav__item"><a href="sign.html" class="nav__link">Login</a></li>


                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>


                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>


        <main class="l-main">
        <!--========== DROPDOWN ==========-->
        
        
        <body1 class="body1">
            <div class="sec-center">
            <input class="dropdown" type="checkbox" id="dropdown" name="dropdown" />
            <label class="for-dropdown" for="dropdown">Dropdown Menu <i class="uil uil-arrow-down"></i></label>
            <div class="section-dropdown">
                <c href="#">Dropdown Link <i class="uil uil-arrow-right"></i></c>
                <input class="dropdown-sub" type="checkbox" id="dropdown-sub" name="dropdown-sub" />
                <label class="for-dropdown-sub" for="dropdown-sub">Dropdown Sub <i class="uil uil-plus"></i></label>
                <div class="section-dropdown-sub">
                <c href="#">Dropdown Link <i class="uil uil-arrow-right"></i></c>
                <c href="#">Dropdown Link <i class="uil uil-arrow-right"></i></c>
                </div>
                <c href="#">Dropdown Link <i class="uil uil-arrow-right"></i></c>
                <c href="#">Dropdown Link <i class="uil uil-arrow-right"></i></c>
             </div>
            </div>    
        </body1>
        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">MediBuddy</a>
                    <span class="footer__description">Health Services</span>
                    <div>
                        <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>


                <div class="footer__content">
                    <h3 class="footer__title">Services</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Diagnosis Check</a></li>
                        <li><a href="#" class="footer__link">Dosage Check</a></li>
                    </ul>
                </div>


                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li><a href="#" class="footer__link">About Us</a></li>
                        <li><a href="#" class="footer__link">Contact Us</a></li>
                    </ul>
                </div>


                <div class="footer__content">
                    <h3 class="footer__title">Address</h3>
                    <ul>
                        <li>Los Angeles, California</li>
                        <li>330 De Neve Dr</li>
                        <li>123-456-7890</li>
                        <li>medibuddy@email.com</li>
                    </ul>
                </div>
            </div>


            <p class="footer__copy">&#169; 2020 Bedimcode. All right reserved</p>
        </footer>


        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>


        <!--========== MAIN JS ==========-->
        <script src="assets/js/main.js"></script>
    </body>
</html>